In [36]:
import pandas as pd

In [37]:
movies = pd.read_csv(r'my movies.csv')

In [38]:
movies

,I.D.,NAME,INDUSTRY,GENRE,LANGUAGE,DURATION,RATING
0,1,bahubhali,tollywood,action,telgue,170,9.5
1,2,brahamsta,hollywood,mysterioushindi,NaN,180,5.0
2,3,uri the sergical strike,hollywood,action,hindi,120,10.0
3,4,DDLJ,hollywood,romance,hindi,150,10.0
4,5,Avengers the and game,bollywood,action,english,180,9.0
5,6,tanent,hollywood,sci-fi,english,150,8.5
6,7,major,bollywood,action,hindi,140,8.0
7,8,intersteller,hollywood,sci-fi,english,190,7.0
8,9,gravity,hollywood,sci-fi,english,130,8.0
9,10,titanic,hollywood,drama,english,180,9.0
10,11,yeh jawani hai diwani,bollywood,romance,hindi,150,5.0
11,12,housefull,bollywood,comedy,english,150,6.0
12,13,the dictator,hollywood,comedy,hindi,120,7.0
13,14,hera pheri,bollywood,comedy,hindi,140,9.0
14,15,sholay,bollywood,drama,hindi,150,8.5

# longest movie

In [39]:
movies['DURATION'].argmax()

7

In [40]:
movies['NAME']

0                   bahubhali
1                   brahamsta
2     uri the sergical strike
3                        DDLJ
4       Avengers the and game
5                      tanent
6                       major
7                intersteller
8                     gravity
9                     titanic
10      yeh jawani hai diwani
11                  housefull
12              the dictator
13                 hera pheri
14                     sholay
Name: NAME, dtype: object

In [41]:
movies['NAME'][movies['DURATION'].argmax()]

'intersteller'

# no. of movies get 10 star rating

In [42]:
movies['RATING']==10

0     False
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: RATING, dtype: bool

In [43]:
movies['NAME'][movies['RATING']==10]

2    uri the sergical strike
3                       DDLJ
Name: NAME, dtype: object

In [44]:
movies['NAME'][movies['RATING']==10].values[0:2]

array(['uri the sergical strike', 'DDLJ'], dtype=object)

In [45]:
## sum(movies['RATING']==10)

# no. of industries

In [46]:
movies['INDUSTRY'].value_counts()

hollywood    8
bollywood    6
tollywood    1
Name: INDUSTRY, dtype: int64

In [47]:
movies['INDUSTRY'].value_counts().count()

3

In [48]:
len(movies['INDUSTRY'].value_counts())

3

# least liked comedy movie

In [49]:
movies['RATING'][movies['GENRE']=='comedy'].idxmin()

11

In [50]:
movies['NAME'][movies['RATING'][movies['GENRE']=='comedy'].idxmin()]

'housefull'

In [51]:
movies['NAME'][movies['RATING'][movies['GENRE']=='comedy'].min()]

'major'

In [52]:
[movies['RATING'][movies['GENRE']=='comedy'].min()]

[6.0]

In [53]:
movies.columns

Index(['I.D.', 'NAME', 'INDUSTRY', 'GENRE', 'LANGUAGE', 'DURATION', 'RATING'], dtype='object')

# longest english movie

In [54]:
movies['NAME'][movies[movies['LANGUAGE']=='english']['DURATION'].idxmax()]

'intersteller'

# gener of intersteller

In [55]:
movies['GENRE'][movies['NAME']=='intersteller']

7    sci-fi
Name: GENRE, dtype: object

>this outcome is series type if we want a string

In [56]:
movies['GENRE'][movies['NAME']=='intersteller'].values[0]

'sci-fi'

# [

In [57]:
movies['NAME'].str.lower()

0                   bahubhali
1                   brahamsta
2     uri the sergical strike
3                        ddlj
4       avengers the and game
5                      tanent
6                       major
7                intersteller
8                     gravity
9                     titanic
10      yeh jawani hai diwani
11                  housefull
12              the dictator
13                 hera pheri
14                     sholay
Name: NAME, dtype: object

In [58]:
movies['GENRE'][movies['NAME'].str.lower()=='iNterSteller'.lower()].values[0]

'sci-fi'

In [59]:
names=movies['NAME']

In [60]:
names

0                   bahubhali
1                   brahamsta
2     uri the sergical strike
3                        DDLJ
4       Avengers the and game
5                      tanent
6                       major
7                intersteller
8                     gravity
9                     titanic
10      yeh jawani hai diwani
11                  housefull
12              the dictator
13                 hera pheri
14                     sholay
Name: NAME, dtype: object

In [61]:
names.to_list()

['bahubhali',
 'brahamsta',
 'uri the sergical strike',
 'DDLJ',
 'Avengers the and game',
 'tanent',
 'major',
 'intersteller',
 'gravity',
 'titanic',
 'yeh jawani hai diwani',
 'housefull',
 'the dictator ',
 'hera pheri',
 'sholay']

In [62]:
names.str.capitalize()

0                   Bahubhali
1                   Brahamsta
2     Uri the sergical strike
3                        Ddlj
4       Avengers the and game
5                      Tanent
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10      Yeh jawani hai diwani
11                  Housefull
12              The dictator
13                 Hera pheri
14                     Sholay
Name: NAME, dtype: object

In [63]:
names.str.casefold()

0                   bahubhali
1                   brahamsta
2     uri the sergical strike
3                        ddlj
4       avengers the and game
5                      tanent
6                       major
7                intersteller
8                     gravity
9                     titanic
10      yeh jawani hai diwani
11                  housefull
12              the dictator
13                 hera pheri
14                     sholay
Name: NAME, dtype: object

In [64]:
names.str.find('e')

0    -1
1    -1
2     6
3    -1
4     2
5     3
6    -1
7     3
8    -1
9    -1
10    1
11    4
12    2
13    1
14   -1
Name: NAME, dtype: int64

In [65]:
names.str.count('g')

0     0
1     0
2     1
3     0
4     2
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: NAME, dtype: int64

In [66]:
names.str.get(2)

0     h
1     a
2     i
3     L
4     e
5     n
6     j
7     t
8     a
9     t
10    h
11    u
12    e
13    r
14    o
Name: NAME, dtype: object

In [67]:
names.str.get_dummies()

,Avengers the and game,DDLJ,bahubhali,brahamsta,gravity,hera pheri,housefull,intersteller,major,sholay,tanent,the dictator,titanic,uri the sergical strike,yeh jawani hai diwani
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [68]:
movies['GENRE'].str.get_dummies()

    action  comedy  drama  mysterioushindi  romance  sci-fi
0        1       0      0                0        0       0
1        0       0      0                1        0       0
2        1       0      0                0        0       0
3        0       0      0                0        1       0
4        1       0      0                0        0       0
5        0       0      0                0        0       1
6        1       0      0                0        0       0
7        0       0      0                0        0       1
8        0       0      0                0        0       1
9        0       0      1                0        0       0
10       0       0      0                0        1       0
11       0       1      0                0        0       0
12       0       1      0                0        0       0
13       0       1      0                0        0       0
14       0       0      1                0        0       0

In [69]:
names.str.index('a')

ValueError: substring not found

In [70]:
names.str.split('e')

0                      [bahubhali]
1                      [brahamsta]
2     [uri th,  s, rgical strik, ]
3                           [DDLJ]
4      [Av, ng, rs th,  and gam, ]
5                        [tan, nt]
6                          [major]
7                [int, rst, ll, r]
8                        [gravity]
9                        [titanic]
10        [y, h jawani hai diwani]
11                    [hous, full]
12                [th,  dictator ]
13                  [h, ra ph, ri]
14                        [sholay]
Name: NAME, dtype: object

In [71]:
names.str.split('e').str.join('--,--')

0                                 bahubhali
1                                 brahamsta
2       uri th--,-- s--,--rgical strik--,--
3                                      DDLJ
4     Av--,--ng--,--rs th--,-- and gam--,--
5                                tan--,--nt
6                                     major
7                  int--,--rst--,--ll--,--r
8                                   gravity
9                                   titanic
10                y--,--h jawani hai diwani
11                            hous--,--full
12                        th--,-- dictator
13                       h--,--ra ph--,--ri
14                                   sholay
Name: NAME, dtype: object

#to remove spaces

In [72]:
names.str.strip()

0                   bahubhali
1                   brahamsta
2     uri the sergical strike
3                        DDLJ
4       Avengers the and game
5                      tanent
6                       major
7                intersteller
8                     gravity
9                     titanic
10      yeh jawani hai diwani
11                  housefull
12               the dictator
13                 hera pheri
14                     sholay
Name: NAME, dtype: object

# ]

# Average of each genre

In [73]:
movies['GENRE'].unique()

array(['action', 'mysterioushindi', 'romance', 'sci-fi', 'drama',
       'comedy'], dtype=object)

In [74]:
movies['GENRE'].nunique()

6

In [75]:
for genre in movies['GENRE'].unique():
    print(genre, movies[movies['GENRE']==genre]['DURATION'].mean())

action 152.5
mysterioushindi 180.0
romance 150.0
sci-fi 156.66666666666666
drama 165.0
comedy 136.66666666666666

In [76]:
movies.groupby('GENRE')['DURATION'].mean()

GENRE
action             152.500000
comedy             136.666667
drama              165.000000
mysterioushindi    180.000000
romance            150.000000
sci-fi             156.666667
Name: DURATION, dtype: float64

In [77]:
movies.groupby(['GENRE','INDUSTRY'])['DURATION'].mean()

GENRE            INDUSTRY
action           bollywood    160.000000
                 hollywood    120.000000
                 tollywood    170.000000
comedy           bollywood    145.000000
                 hollywood    120.000000
drama            bollywood    150.000000
                 hollywood    180.000000
mysterioushindi  hollywood    180.000000
romance          bollywood    150.000000
                 hollywood    150.000000
sci-fi           hollywood    156.666667
Name: DURATION, dtype: float64

In [78]:
movies.groupby(['INDUSTRY','GENRE'])['DURATION'].mean()

INDUSTRY   GENRE
bollywood  action             160.000000
           comedy             145.000000
           drama              150.000000
           romance            150.000000
hollywood  action             120.000000
           comedy             120.000000
           drama              180.000000
           mysterioushindi    180.000000
           romance            150.000000
           sci-fi             156.666667
tollywood  action             170.000000
Name: DURATION, dtype: float64

In [79]:
movies.describe()

            I.D.    DURATION     RATING
count  15.000000   15.000000  15.000000
mean    8.000000  153.333333   7.966667
std     4.472136   22.253946   1.641718
min     1.000000  120.000000   5.000000
25%     4.500000  140.000000   7.000000
50%     8.000000  150.000000   8.500000
75%    11.500000  175.000000   9.000000
max    15.000000  190.000000  10.000000

In [81]:
# movies.drop(['I.D.'], axis=1, inplace=True)

In [82]:
movies=pd.read_csv(r'my movies.csv',index_col=0)

In [84]:
movies

,NAME,INDUSTRY,GENRE,LANGUAGE,DURATION,RATING
I.D.,,,,,,
1,bahubhali,tollywood,action,telgue,170,9.5
2,brahamsta,hollywood,mysterioushindi,NaN,180,5.0
3,uri the sergical strike,hollywood,action,hindi,120,10.0
4,DDLJ,hollywood,romance,hindi,150,10.0
5,Avengers the and game,bollywood,action,english,180,9.0
6,tanent,hollywood,sci-fi,english,150,8.5
7,major,bollywood,action,hindi,140,8.0
8,intersteller,hollywood,sci-fi,english,190,7.0
9,gravity,hollywood,sci-fi,english,130,8.0
10,titanic,hollywood,drama,english,180,9.0
11,yeh jawani hai diwani,bollywood,romance,hindi,150,5.0
12,housefull,bollywood,comedy,english,150,6.0
13,the dictator,hollywood,comedy,hindi,120,7.0
14,hera pheri,bollywood,comedy,hindi,140,9.0
15,sholay,bollywood,drama,hindi,150,8.5

In [88]:
movies.describe(include='all')

             NAME   INDUSTRY   GENRE LANGUAGE    DURATION     RATING
count          15         15      15       14   15.000000  15.000000
unique         15          3       6        3         NaN        NaN
top     bahubhali  hollywood  action    hindi         NaN        NaN
freq            1          8       4        7         NaN        NaN
mean          NaN        NaN     NaN      NaN  153.333333   7.966667
std           NaN        NaN     NaN      NaN   22.253946   1.641718
min           NaN        NaN     NaN      NaN  120.000000   5.000000
25%           NaN        NaN     NaN      NaN  140.000000   7.000000
50%           NaN        NaN     NaN      NaN  150.000000   8.500000
75%           NaN        NaN     NaN      NaN  175.000000   9.000000
max           NaN        NaN     NaN      NaN  190.000000  10.000000

In [90]:
movies.groupby('INDUSTRY').describe().T

INDUSTRY         bollywood   hollywood  tollywood
DURATION count    6.000000    8.000000        1.0
         mean   151.666667  152.500000      170.0
         std     14.719601   28.157719        NaN
         min    140.000000  120.000000      170.0
         25%    142.500000  127.500000      170.0
         50%    150.000000  150.000000      170.0
         75%    150.000000  180.000000      170.0
         max    180.000000  190.000000      170.0
RATING   count    6.000000    8.000000        1.0
         mean     7.583333    8.062500        9.5
         std      1.685724    1.699527        NaN
         min      5.000000    5.000000        9.5
         25%      6.500000    7.000000        9.5
         50%      8.250000    8.250000        9.5
         75%      8.875000    9.250000        9.5
         max      9.000000   10.000000        9.5

In [93]:
movies.groupby(['INDUSTRY','GENRE']).describe().T

INDUSTRY         bollywood                            hollywood                \
GENRE               action      comedy  drama romance    action comedy  drama
DURATION count    2.000000    2.000000    1.0     1.0       1.0    1.0    1.0
         mean   160.000000  145.000000  150.0   150.0     120.0  120.0  180.0
         std     28.284271    7.071068    NaN     NaN       NaN    NaN    NaN
         min    140.000000  140.000000  150.0   150.0     120.0  120.0  180.0
         25%    150.000000  142.500000  150.0   150.0     120.0  120.0  180.0
         50%    160.000000  145.000000  150.0   150.0     120.0  120.0  180.0
         75%    170.000000  147.500000  150.0   150.0     120.0  120.0  180.0
         max    180.000000  150.000000  150.0   150.0     120.0  120.0  180.0
RATING   count    2.000000    2.000000    1.0     1.0       1.0    1.0    1.0
         mean     8.500000    7.500000    8.5     5.0      10.0    7.0    9.0
         std      0.707107    2.121320    NaN     NaN       NaN    NaN    NaN
         min      8.000000    6.000000    8.5     5.0      10.0    7.0    9.0
         25%      8.250000    6.750000    8.5     5.0      10.0    7.0    9.0
         50%      8.500000    7.500000    8.5     5.0      10.0    7.0    9.0
         75%      8.750000    8.250000    8.5     5.0      10.0    7.0    9.0
         max      9.000000    9.000000    8.5     5.0      10.0    7.0    9.0

INDUSTRY                                           tollywood
GENRE          mysterioushindi romance      sci-fi    action
DURATION count             1.0     1.0    3.000000       1.0
         mean            180.0   150.0  156.666667     170.0
         std               NaN     NaN   30.550505       NaN
         min             180.0   150.0  130.000000     170.0
         25%             180.0   150.0  140.000000     170.0
         50%             180.0   150.0  150.000000     170.0
         75%             180.0   150.0  170.000000     170.0
         max             180.0   150.0  190.000000     170.0
RATING   count             1.0     1.0    3.000000       1.0
         mean              5.0    10.0    7.833333       9.5
         std               NaN     NaN    0.763763       NaN
         min               5.0    10.0    7.000000       9.5
         25%               5.0    10.0    7.500000       9.5
         50%               5.0    10.0    8.000000       9.5
         75%               5.0    10.0    8.250000       9.5
         max               5.0    10.0    8.500000       9.5

# evrage rating of each industry

In [95]:
movies.groupby('INDUSTRY')['RATING'].mean()

INDUSTRY
bollywood    7.583333
hollywood    8.062500
tollywood    9.500000
Name: RATING, dtype: float64

# average reating of romance movies industries wise

In [99]:
movies[movies['GENRE'].str.lower()=='romance'].groupby('INDUSTRY')['RATING'].mean()

INDUSTRY
bollywood     5.0
hollywood    10.0
Name: RATING, dtype: float64

# all the english movies with their respective rating in decending order.

In [100]:
movies[movies['LANGUAGE'].str.lower()=='english'][['NAME','RATING']]

                       NAME  RATING
I.D.
5     Avengers the and game     9.0
6                    tanent     8.5
8              intersteller     7.0
9                   gravity     8.0
10                  titanic     9.0
12                housefull     6.0

In [103]:
movies[movies['LANGUAGE'].str.lower()=='english'][['NAME','RATING']].sort_values(by='RATING',ascending=False)

                       NAME  RATING
I.D.
5     Avengers the and game     9.0
10                  titanic     9.0
6                    tanent     8.5
9                   gravity     8.0
8              intersteller     7.0
12                housefull     6.0