In [1]:
import pandas as pd

* Data Analysis
1. Description
2. Diagnosis
3. Prediction
4. Actions/Prescription

In [2]:
# The column names
cols = ['user_id','movie_id','rating','ts']

In [3]:
# Read the File
df = pd.read_csv('u.data',sep='\t',names=cols)

# comprehension

In [4]:
a = [4,8,2,7,9]

In [5]:
# b =[8,16,4,14,18]

b = []
for i in a:
    b.append(i*2)
b

[8, 16, 4, 14, 18]

In [6]:
# comprehension

b= [i*2 for i in a]
b

[8, 16, 4, 14, 18]

In [7]:
item_cols=['movie_id','title']+[str(i) for i in range(22)]

In [8]:
# Read the other file
df1 = pd.read_csv('u.item',sep='|',names = item_cols,
                  encoding='ISO-8859-1')[['movie_id','title']]

In [9]:
df1.shape

(1682, 2)

In [10]:
## Exploratory data analysis(EDA)

In [11]:
df.head()

   user_id  movie_id  rating         ts
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [12]:
df.sample(5)

       user_id  movie_id  rating         ts
92577      825       932       3  880756862
30746      474       633       4  887926436
11851       13       501       5  882398724
43821      234        66       3  892334765
95872      721      1295       3  877137214

In [13]:
df1.sample(3)

      movie_id                               title
397        398            Super Mario Bros. (1993)
648        649  Once Upon a Time in America (1984)
1099      1100         What Happened Was... (1994)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   100003 non-null  int64
 1   movie_id  100003 non-null  int64
 2   rating    100003 non-null  int64
 3   ts        100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [15]:
df.describe()

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

In [16]:
df.describe(include='all')

             user_id       movie_id         rating            ts
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

Try to find different Data 
1. Strings with Categorical info
2. Strings with random stuff
3. Numbers with Quantified info
4. Numbers with Categorical info
5. Random numbers or ID sort of data

In [17]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'ts'], dtype='object')

In [18]:
df['rating'].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [19]:
df['rating'].nunique()

5

In [20]:
df['user_id'].nunique()

944

In [21]:
df['movie_id'].nunique()

1682

In [22]:
# merging dataframes

In [23]:
movie = pd.merge(df,df1, on='movie_id')

In [24]:
movie.head()

   user_id  movie_id  rating         ts             title
0        0        50       5  881250949  Star Wars (1977)
1      290        50       5  880473582  Star Wars (1977)
2       79        50       4  891271545  Star Wars (1977)
3        2        50       5  888552084  Star Wars (1977)
4        8        50       5  879362124  Star Wars (1977)

In [25]:
#remove reduntant or useless column ie ts
movie.drop('ts',axis=1,inplace=True)

In [26]:
movie.columns

Index(['user_id', 'movie_id', 'rating', 'title'], dtype='object')

In [27]:
# find the number of ratings for each movie
movie['title'].value_counts().head(10)

Star Wars (1977)                 584
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

In [28]:
# find the average rating for each movie
movie.groupby('title')['rating'].mean().sort_values(ascending=False).head(10)

title
They Made Me a Criminal (1939)                       5.0
Marlene Dietrich: Shadow and Light (1996)            5.0
Saint of Fort Washington, The (1993)                 5.0
Someone Else's America (1995)                        5.0
Star Kid (1997)                                      5.0
Great Day in Harlem, A (1994)                        5.0
Aiqing wansui (1994)                                 5.0
Santa with Muscles (1996)                            5.0
Prefontaine (1997)                                   5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
Name: rating, dtype: float64